.header {
    position: fixed;
    background-color: #797e3a;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.headerMarginBottom {
    width: 100%;
    height: var(--headerHeight);
}

.title {
    color: #ffadc7;
    line-height: 1.4rem;
}

.headerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    padding: 0 0.3rem;
    color: antiquewhite;
}

.shift {
    padding: 0 0.3rem;
    color: aquamarine;
}

.button:active {
    opacity: 0.3;
    color: red;
}

.upload {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: rgb(118, 182, 23);
}

.uploadWrap {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #333;
}

.uploadWrap:active {
    background-color: rgb(247, 232, 98);
}
