.header {
   position: fixed;
   background-color: #aecb2bf7;
   width: 100%;
   max-width: 600px;
   height: calc(var(--headerHeight) + 1rem);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   z-index: 4;
}

.headerMarginBottom {
   width: 100%;
   height: calc(var(--headerHeight) + 1rem);
}

.titleLabel {
   font-size: 1.2rem;
   color: rgb(27, 26, 26);
}

.title {
   color: #cc0b48;
   line-height: 1.4rem;
}

.headerWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.time {
   padding: 0 0.3rem;
   color: rgb(84, 38, 210);
   font-size: 1.3rem;
}

.shift {
   padding: 0 0.3rem;
   color: aquamarine;
}

.button {
   text-decoration: none;
}

.button:active {
   opacity: 0.3;
   color: red;
}

.auth {
   width: calc(var(--headerHeight) - 1.5rem);
   height: calc(var(--headerHeight) - 1.5rem);
}

.avatar {
   width: 100%;
   height: 100%;

   border-radius: 50%;
   border: 1px solid #ccc;
}
